.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #03506f;

  opacity: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  color: #ffe3d8;
  border-radius: 20px;
  animation-name: EnterAnimation;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  .left_side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .image {
      background-color: yellow;
      height: 50px;
      width: 50px;
    }
  }
  .right_side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name {
      justify-content: center;
      font-size: 40px;
    }

    .ingredients {
      width: 90%;
      margin-left: 10%;
    }
  }
}

@keyframes EnterAnimation {
  100% {
    opacity: 0.9;
  }
}

.container:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  opacity: 1;
}
