.greeting {
  width: 100%;
  text-align: center;
  font-size: 140px;
  font-weight: 700;
  color: #ffffaa;
  text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
}

.container {
  margin: 50px;
  opacity: 0;
  color: #ffffaa;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  -webkit-animation-name: EnterAnimation;
          animation-name: EnterAnimation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .item .photo {
  width: 40%;
  height: 300px;
  background-color: blue;
  margin-left: 5%;
  -webkit-animation: 6s infinite forwards Dingle;
          animation: 6s infinite forwards Dingle;
}

@-webkit-keyframes Dingle {
  0% {
    opacity: 1;
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  92% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  94% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  96% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  98% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Dingle {
  0% {
    opacity: 1;
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  92% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  94% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  96% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  98% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.container .item .textbox {
  width: 60%;
  margin-left: 5%;
  -webkit-animation: 4s 1 forwards EnterAnimationPhoto;
          animation: 4s 1 forwards EnterAnimationPhoto;
}

.container .item .textbox .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.7;
  font-size: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background: linear-gradient(#e66465, #9198e5);
  background-size: 600vw 600vw;
  background-clip: text;
  -webkit-animation: textAnimate 5s linear infinite alternate;
          animation: textAnimate 5s linear infinite alternate;
  -webkit-text-stroke: 6px rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes textAnimate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    background-position-x: 0%;
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    background-position-x: 0%;
  }
}

@keyframes textAnimate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    background-position-x: 0%;
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    background-position-x: 0%;
  }
}

.container .item .textbox .text {
  font-size: 30px;
  margin-bottom: 50px;
}

@-webkit-keyframes EnterAnimationPhoto {
  0% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes EnterAnimationPhoto {
  0% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes EnterAnimation {
  100% {
    opacity: 1;
  }
}

@keyframes EnterAnimation {
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=HomePage.module.css.map */